@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    color: #ccc;
}

img {
    object-fit: cover;
}

body {
    background-color: #09090c;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 2px;
}

nav .logo {
    background-color: #a3e635;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background-color: #171717;
    gap: 10px;
    border-radius: 50%;
}

nav .nav-links a {
    color: #fff;
    transition: all 0.3s ease;
}

nav .nav-links a:hover {
    color: #a3e635;
}

nav .nav-links .separator {
    width: 5px;
    height: 5px;
    background: #a3e635;
    border-radius: 50%;
}

nav .nav-links p {
    font-size: 13px;
}

nav .login {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #171717;
    padding: 4px 4px 4px 14px;
    border: 50%;
}

nav .login img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}