@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    color: #ccc;
}

img {
    object-fit: cover;
}

body {
    background-color: #09090c;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 2px;
}

nav .logo {
    background-color: #a3e635;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background-color: #171717;
    gap: 10px;
    border-radius: 50%;
}

nav .nav-links a {
    color: #fff;
    transition: all 0.3s ease;
}

nav .nav-links a:hover {
    color: #a3e635;
}

nav .nav-links .separator {
    width: 5px;
    height: 5px;
    background: #a3e635;
    border-radius: 50%;
}

nav .nav-links p {
    font-size: 13px;
}

nav .login {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #171717;
    padding: 4px 4px 4px 14px;
    border: 50%;
}

nav .login img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

nav .login a {
    font-size: 13px;
    color: #fff;
}

.prompt-sec {
    padding: 20px;
}

.prompt-sec h1 {
    color: #ccc;
    font-size: 182px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 36px;
}

.prompt-sec .prompt-img {
    position: relative;
}

.prompt-sec .prompt-img img {
    width: 100%;
    height: 740px;
    border-radius: 60px;
    object-position: top center;
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 1);
}

.prompt-sec .prompt-img input {
    width: 55%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(255, 255, 255, 0.22);
    border-radius: 20px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 16px;
    padding: 16px;
    text-align: center;
    color: #fff;
}

.prompt-sec .prompt-img input::placeholder {
    color: #a3e635;
}

.prompt-sec .prompt-img .tabs {
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
}

.prompt-sec .prompt-img .tabs a {
    color: #fff;
    background: #231f1c;
    padding: 10px;
    width: 160px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.prompt-sec .prompt-img .tabs a.active,
.prompt-sec .prompt-img .tabs a:hover {
    color: #231f1c;
    background: #a3e635;
}

.showcase {
    padding: 40px 80px;
    margin-top: 20px;
}

.showcase h3 {
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.showcase .text-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

.showcase .text-sec p {
    width: 50%;
    text-align: justify;
}

.showcase .text-sec .images,
.showcase .image-sec {
    display: flex;
    align-items: center;
    gap: 20px;

}

.showcase .text-sec .images img,
.showcase .image-sec img {
    width: 256px;
    border-radius: 40px;
    border: 2px solid #c5c5c5;
}

.services .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px 0;
}

.services .header h3 {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    width: 60%;
}

.services .services-items {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 80px;
    padding-bottom: 40px;
}

.services .services-items .item {
    background: #171717;
    padding: 20px;
    border-radius: 40px;
    width: 25%;
}

.services .services-items .item .title {
    display: flex;
    align-items: center;
    background: #2e2c29;
    padding: 5px 20px 5px 5px;
    gap: 10px;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: 30px;
}

.services .services-items .item .title .gradient {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.services .services-items .item:nth-child(1) .title .gradient {
    background: linear-gradient(45deg, #f3ec78, #af4261);

}

.services .services-items .item:nth-child(2) .title .gradient {

    background: linear-gradient(45deg, #6a11cb, #2575fc);
}

.services .services-items .item:nth-child(3) .title .gradient {
    background: linear-gradient(45deg, #43e97b, #38f9d7);
}

.services .services-items .item:nth-child(4) .title .gradient {
    background: linear-gradient(45deg, #fa709a, #fee140);
}

.services .services-items .item .desc h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.services .services-items .item.active {
    background: #a3e635;

}

.services .services-items .item.active .title {
    background: #000;

}

.services .services-items .item.active .desc h5 {
    color: #000;

}